body {
  font-family: "Montserrat", sans-serif;
  color: rgba(94, 88, 115, 0.5);
}

:root {
  font-size: 16px;
}

a:hover {
  color: #5e5873 !important;
}

.content-screen {
  width: 100%;
  padding: 40px 24px;
  margin-left: 260px;
}

#menu-button-toggler {
  margin-bottom: 25px;
  display: none;
  background: #fff;
  position: fixed;
  top: 0;
  height: auto;
  z-index: 90;
}
#menu-button-toggler hr {
  margin-top: 7px;
  margin-bottom: 0;
}
#menu-button-toggler button {
  border: 1px solid #d0d5dd;
  padding: 7px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin-left: 10px;
  margin-top: 7px;
}

.app {
  position: relative;
}

@media (max-width: 991px) {
  #menu-button-toggler {
    display: block;
    position: fixed;
  }
}
@media (max-width: 991px) {
  .content-screen {
    width: 100%;
    padding: 60px 10px 20px 10px;
    margin-left: 0;
  }
}
.section-heading {
  margin-bottom: 12px;
  color: #5e5873;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.btn svg {
  margin-right: 8px;
}

section,
header {
  max-width: 1170px;
  margin: auto;
}

.screens-links {
  background-color: #2a9d8f;
  height: 100vw;
  padding: 20px 20%;
}
.screens-links li {
  background-color: #f4a261;
}
.screens-links li a {
  font-size: 0.9375rem;
  font-weight: 500;
  text-decoration: none;
}

#chart_donut {
  max-height: 400px;
}

.donut-chart {
  position: relative;
}

.chart-canvas-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #5e5873;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.chart-canvas-title p {
  font-size: 14px;
  margin-bottom: 0;
}
.chart-canvas-title span {
  font-size: 24px;
}

.canvas-wrapper {
  background-color: #fff;
  padding: 15px;
  border-radius: 100%;
  -webkit-border-radius: 131%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 430px;
  margin: auto;
  box-shadow: 0px 3.56707px 44.58839px 0px rgba(0, 0, 0, 0.08);
}

@media (max-width: 991px) {
  #chart_donut {
    max-height: 500px;
  }
  .canvas-wrapper {
    max-width: 330px;
  }
}
.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.highcharts-credits {
  display: none;
}

.highcharts-axis-line,
.highcharts-grid-line {
  stroke: #e6edff;
}

.highcharts-tick {
  stroke: #fff;
}

.highcharts-axis-labels text {
  fill: #7c8db5 !important;
  font-size: 14px !important;
}

.highcharts-legend {
  padding-bottom: 10px;
}

.highcharts-legend-item .highcharts-graph {
  stroke-width: 5px;
}/*# sourceMappingURL=common_styles.css.map */