.section-heading {
  margin-bottom: 12px;
  color: #5e5873;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.btn svg {
  margin-right: 8px;
}
