@import 'mixins';

body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(94, 88, 115, 0.5);
}

:root {
  font-size: 16px;
}

a:hover {
  color: #5e5873 !important;
}

.content-screen {
  width: 100%;
  padding: 40px 24px;
  margin-left: 260px;
}

.apexcharts-legend {
  justify-content: center !important;
  top: 0 !important;
}

.apexcharts-text.apexcharts-datalabel-value {
  color: var(--gray-900, #101828);
  text-align: center;
  font-family: Inter;
  font-size: 1.43rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28.383px; /* 122.222% */
  letter-spacing: -0.464px;
}

@include mobile {
  .apexcharts-legend {
    top: 80% !important;
  }
}

.apexcharts-datalabels-group {
  transform: translateY(-12px);
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  -o-transform: translateY(-12px);
}

button.btn {
  &:hover {
    background: #6541b4 !important;
    color: #fff !important;

    & svg {
      fill: #6541b4;
      stroke: #fff;

      & path {
        stroke: #fff;
      }
    }
  }
}

#menu-button-toggler {
  margin-bottom: 25px;
  display: none;
  background: #fff;
  position: fixed;
  top: 0;
  height: auto;
  z-index: 90;

  & hr {
    margin-top: 7px;
    margin-bottom: 0;
  }

  & button {
    border: 1px solid #d0d5dd;
    padding: 7px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-left: 10px;
    margin-top: 7px;
    // z-index: 91;
  }
}

.app {
  position: relative;
}

@include mobile {
  #menu-button-toggler {
    display: block;
    position: fixed;
  }
}

@include notebook {
  #menu-button-toggler {
    display: block;
    position: fixed;
  }
}

@include mobile {
  .content-screen {
    width: 100%;
    padding: 60px 10px 20px 10px;
    margin-left: 0;
  }
}

.section-heading {
  margin-bottom: 12px;
  color: #5e5873;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.btn svg {
  margin-right: 8px;
}

section,
header {
  max-width: 1155px;
  margin: auto;
}

// Additional styled for main page with links
.screens-links {
  background-color: #2a9d8f;
  height: 100vw;
  padding: 20px 20%;

  & li {
    background-color: #f4a261;

    & a {
      font-size: 0.9375rem;
      font-weight: 500;
      text-decoration: none;
    }
  }
}
// End additional styled for main page with links

#chart_donut {
  // max-width: 500px;
  max-height: 400px;
}

.donut-chart {
  position: relative;
}

.chart-canvas-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #5e5873;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  & p {
    font-size: 14px;
    margin-bottom: 0;
  }

  & span {
    font-size: 24px;
  }
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.canvas-wrapper {
  background-color: #fff;
  padding: 15px;
  border-radius: 100%;
  -webkit-border-radius: 131%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 430px;
  margin: auto;
  box-shadow: 0px 3.56707px 44.58839px 0px rgba(0, 0, 0, 0.08);
}

@include mobile {
  #chart_donut {
    // max-width: 500px;
    max-height: 500px;
  }

  .canvas-wrapper {
    max-width: 330px;
  }
}

// Liend chart
.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.highcharts-credits {
  display: none;
}

.highcharts-axis-line,
.highcharts-grid-line {
  stroke: #e6edff;
}

.highcharts-tick {
  stroke: #fff;
}

.highcharts-axis-labels text {
  fill: #7c8db5 !important;
  font-size: 14px !important;
}

.highcharts-legend {
  padding-bottom: 10px;
}

.highcharts-legend-item .highcharts-graph {
  stroke-width: 5px;
}
// End Lined Cрart
.custom-dropdown-btn {
  & .dropdown-menu {
    border-radius: 8px;
    border: 1px solid #eaecf0;
    background: #fff;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
      0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    padding: 10px 80px 0 5px;
    margin-top: 16px;
    z-index: 99;
    top: 14px !important;

    & li a {
      color: #344054;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 22px;

      &:hover {
        background-color: transparent;
      }
    }
  }

  & .btn:focus svg {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  transition: all 0.3 ease-in;
  -webkit-transition: all 0.3 ease-in;
  -moz-transition: all 0.3 ease-in;
  -ms-transition: all 0.3 ease-in;
  -o-transition: all 0.3 ease-in;
}

// Data Picker
.daterangepicker {
  right: 12% !important;
  color: #344054;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  border-radius: 8px;
  border: 1px solid #f2f4f7;
  background: #fff;

  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);

  & .calendar-table th,
  & .calendar-table td {
    font-size: 14px !important;
    // padding: 10px 8px 9px 8px;
    padding: 7px 9px 6px 9px;
  }

  & .month,
  & .prev,
  & .next {
    padding-bottom: 20px !important;
  }

  & .drp-calendar {
    display: none;
    max-width: 300px;
  }

  &:after,
  &:before {
    display: none;
  }

  & .ranges ul {
    padding: 10px;
    border-right: 1px solid #f2f4f7;

    & .active {
      background-color: transparent;
      color: #344054;
    }
    & li {
      padding: 10px 16px;
      font-size: 14px;
      &:hover {
        border-radius: 6px;
        background: #f9fafb;
      }
    }
  }

  & .drp-calendar.left {
    border-left: 1px solid transparent !important;
    border-right: 1px solid #f2f4f7;
  }

  & .drp-calendar.left,
  & .drp-calendar.right {
    padding: 20px 20px;
    height: 388px;
  }

  & .drp-buttons {
    border-top: 1px solid #f2f4f7;
    padding: 15px;

    & .cancelBtn {
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      padding: 10px 16px;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }

    & .applyBtn {
      border-radius: 8px;
      border: 1px solid #7367f0;
      background: #7367f0;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      columns: #fff;
      padding: 10px 16px;
      margin-left: 12px;
    }
  }

  & td.active,
  & td.active:hover {
    border-radius: 100%;
    background: #7367f0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }

  & td:hover {
    background: #f9fafb;
    border-radius: 100%;
  }

  & td.in-range {
    background-color: #f9fafb;
  }
  & td.in-range.end-date {
    background: #7367f0;
  }

  & .drp-selected {
    color: #101828;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  & .ranges ul {
    width: 176px;
  }
}

@include notebook {
  .daterangepicker {
    right: 8% !important;
    // width: 293px !important;
  }
}

@include mobile {
  .daterangepicker .drp-calendar.left,
  .daterangepicker .drp-calendar.right {
    padding: 20px 0px;
  }

  .daterangepicker .ranges ul {
    width: auto;
  }
}

// End Data Picker
