@mixin crm_data_block {
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #eff0f6;
  background: #fff;
  width: 100%;
}

@mixin button_basic_style {
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  padding: 10px 16px;
  color: #344054;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

@mixin border_radius_20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@mixin border_radius_8 {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
