@import 'mixins';
@import 'common_styles';

// Leftside menu Navabr
.menu {
  max-width: 260px;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;

  &::-webkit-scrollbar {
    width: 0;
  }
}
.main-menu {
  max-width: 260px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 23px 0;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  & .navbar-brand {
    padding-left: 15px;
  }

  & .nav {
    margin-bottom: 24px;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
  }

  & .menu-subsection {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 0.9375rem;
    font-weight: 300;
    padding-left: 30px;
    color: rgba(94, 88, 115, 0.5);
  }

  & .logo-name {
    color: #000000;
  }

  & a {
    color: #5e5873;
  }

  & .menu-block {
    border-bottom: 1px solid rgba(110, 107, 123, 0.3);
    padding: 12px 0;
    width: 100%;

    &:last-child {
      margin: 0 !important;
    }

    & .nav-item {
      width: 100%;
      padding: 12px 15px 12px 15px;

      .badge {
        background-color: #7367f0;
        position: absolute;
        left: calc(100% - 55px);
      }

      & .collapse li {
        padding-top: 24px;
        padding-bottom: 0;

        & a:hover {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          background: linear-gradient(47deg, #7367f0 0%, #9e95f5 93.64%);

          & a,
          & span {
            color: #ffffff;
          }

          &::before {
            border: 1px solid #ffffff;
          }
        }

        & a::before {
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          border: 1px solid #5e5873;
          margin-right: 15px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }
    & .nav-item .nav-link {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 15px !important;
      padding-right: 10px !important;

      &:hover {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        background: linear-gradient(47deg, #7367f0 0%, #9e95f5 93.64%);

        & a,
        & span {
          color: #ffffff;
        }

        &::before {
          border: 1px solid #ffffff;
        }
      }
    }

    & .nav-item.active-item > a {
      background-color: #f8f8f8;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }

  & .dropdown-toggle {
    position: relative;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  & .dropdown-toggle::after {
    content: url('/images/dropdown-ico.svg');
    border: none;
    left: calc(100% - 30px);
    position: absolute;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  & .collapsed::after {
    content: url('/images/dropdown-ico.svg');
    border: none;
    left: calc(100% - 30px);
    position: absolute;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}

// End of Leftside menu Navabr

// Header
header {
  & .welcome-text {
    padding-left: 0;
    padding-right: 0;
  }

  & .welcome-text h1 {
    color: rgba(94, 88, 115, 1);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 0;
  }

  & .notification {
    position: relative;
  }

  & .notification .indicator {
    display: none;
  }

  & .notification.indicate .indicator {
    display: block;
    position: absolute;
    top: 6px;
    right: 4px;
  }

  & .welcome-text p {
    color: #7c8db5;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  & .user-name-role {
    text-align: right;
    margin-right: 14px;
  }

  & .name {
    color: #5e5873;
    text-align: right;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  & .role {
    color: #b9b9c3;
    text-align: right;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  & .user-photo {
    width: 38px;
    height: 38px;
    position: relative;
  }

  & .user-active-status::before {
    position: absolute;
    top: 10px;
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    border: 1px solid #ffffff;
    background-color: red;
    z-index: 99;
  }
}
// End Header

.data-picker {
  margin-top: 8px;
  margin-bottom: 42px;

  & .btn-outline-primary {
    color: #1d2939;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 16px;
    border: 1px solid #d0d5dd;

    &:hover {
      background-color: #7367f0;
    }
  }

  & .data-selecter {
    max-width: 145px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    color: #667085;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    box-sizing: content-box;

    &:hover {
      background-color: #7367f0;
      color: #1d2939;
    }

    & svg {
      margin-right: 7px;
    }
  }
}

// Statistics-section
.statistics-section {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 29px;

  & .underwriting-statistic {
    max-width: 580px;
    width: 100%;
    margin-right: 12px;

    & .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 12px;
      row-gap: 12px;

      & .underwriting-statistic-item {
        @include crm_data_block;
        padding: 12px 12px;
        max-width: 180px;
        min-height: 152px;
        // margin-right: 11.5px;
        // margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .heading {
          margin-bottom: 11px;
          align-items: center;

          & .status {
            color: rgba(0, 0, 0, 0.7);
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.154px;
            -webkit-font-feature-settings: 'clig' off, 'liga' off;
            -moz-font-feature-settings: 'clig' off, 'liga' off;
          }
        }
        & .number-parameter {
          color: #5e5873;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 12px;
        }

        & .metrix-summ {
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          margin-bottom: 20px;
        }

        & .metric-percentage {
          color: rgba(110, 107, 123, 0.5);
          font-family: Poppins;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }

  & .statistics {
    max-width: 274px;
    width: 100%;
    margin-right: 20px;

    & .statistics-item {
      @include crm_data_block;
      position: relative;
      max-width: 274px;
      min-height: 334px;
      box-sizing: content-box;
      overflow: hidden;

      & .statistics-item-buttons {
        text-align: right;
        margin-bottom: 29px;

        & .btn-outline-primary {
          color: #1d2939;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          padding: 10px 14px;
          border: 1px solid #d0d5dd;

          &:hover {
            background-color: #7367f0;
          }

          &:focus {
            background-color: #f9fafb;
          }
        }
      }

      & .data-wrapper {
        padding: 12px 12.5px;
      }

      & .application-button {
        @include button_basic_style;
        color: #344054;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;

        &:hover {
          background-color: #7367f0;
          color: #1d2939;
        }

        & svg {
          margin-left: 7px;
          margin-right: 0;
        }
      }

      & .statistics-item-title {
        color: rgba(0, 0, 0, 0.7);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.154px;
        margin-bottom: 44px;
        display: block;
      }

      & .number-parameter {
        color: #5e5873;
        font-family: Montserrat;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      & .chart {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  & .appproval-rate {
    max-width: 274px;
    width: 100%;

    & .statistics-item {
      @include crm_data_block;
      position: relative;
      max-width: 274px;
      min-height: 334px;
      box-sizing: content-box;
      overflow: hidden;

      & .statistics-item-title {
        color: rgba(0, 0, 0, 0.7);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.154px;
        margin-bottom: 44px;
        margin-top: -68px;
        display: block;
      }

      & .application-button {
        @include button_basic_style;
        color: #344054;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        margin-top: -92px;

        &:hover {
          background-color: #7367f0;
          color: #1d2939;
        }

        & svg {
          margin-left: 7px;
          margin-right: 0;
        }
      }

      & .statistics-item-buttons {
        text-align: right;
        margin-bottom: 29px;
        margin-top: -67px;

        & .btn-outline-primary {
          color: #1d2939;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          padding: 10px 14px;
          border: 1px solid #d0d5dd;

          &:hover {
            background-color: #7367f0;
          }

          &:focus {
            background-color: #f9fafb;
          }
        }
      }

      & .data-wrapper {
        padding: 79px 12.5px 0 12.5px;
      }

      & .number-parameter {
        color: #5e5873;
        font-family: Montserrat;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      & .chart {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}
// End statistics-section

// Payments-charts section
.payments-charts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;

  & .payments-total {
    background: #ffffff;
    max-width: 749px;
    width: 100%;
    margin-right: 45px;
  }

  & .last-payments .payments-wrapper {
    @include crm_data_block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    max-height: 440px;
    max-width: 369px;
    padding: 12px 32px 0 12px;
    box-sizing: border-box;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background-color: rgb(255, 255, 255);
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }

    & .payments-item {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #eaecf0;

      & .icon {
        padding: 6px 13px;
        border: 1px solid #f2f4f7;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        margin-right: 12px;
        height: fit-content;
      }

      & .info {
        margin-right: 38px;

        & .heading {
          color: #5e5873;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Montserrat;
          font-size: 0.9375rem;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }

        & .date {
          color: #5e5873;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Montserrat;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
        }
      }

      & .amount {
        color: #039855;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
}
// End payments-charts-section

// Clients table section
.clients-table {
  border-top: 8px solid #6941c6;
  padding-top: 20px;
  display: flex;
  justify-content: center;

  & .clients-list-handler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;

    & .clients-text {
      & .heading {
        color: #101828;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 0;

        & span {
          border-radius: 16px;
          background: #f9f5ff;
          mix-blend-mode: multiply;
          padding: 2px 8px;
          color: #6941c6;
          text-align: center;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          margin-left: 8px;
          -webkit-border-radius: 16px;
          -moz-border-radius: 16px;
          -ms-border-radius: 16px;
          -o-border-radius: 16px;
        }
      }

      & p {
        margin-top: 5px;
        margin-bottom: 0;
        color: #475467;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }

    & .export {
      @include button_basic_style;
      margin-right: 12px;
      & svg {
        margin-right: 8px;
      }
    }

    & .save-list {
      padding: 10px 16px;
      color: #fff;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 23px;
      border-radius: 8px;
      border: 1px solid #7f56d9;
      background: #7f56d9;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

      & svg {
        margin-right: 8px;
      }
    }
  }

  & .clients-list-search {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;

    & .input-group {
      max-width: 638px;
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

      & button {
        padding: 10px 8px 10px 14px;
        border: none;

        &:hover {
          background: none;
        }
      }

      & input {
        padding: 10px 14px 10px 0;
        border: none;
      }
    }

    & .buttons-wrapper button {
      @include button_basic_style;
      margin-left: 12px;
    }
  }

  & .filter-buttons {
    & button {
      @include button_basic_style;
      margin-right: 5px;

      & svg {
        margin-left: 4px;
        margin-right: 0;
        padding: 0;
      }
    }
  }

  & .table .table-responsive {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 40px;
    @include border_radius_20;

    & .table-bordered {
      border: 1px solid #eaecf0;
    }

    & table > tbody > tr > td:nth-child(even) {
      background-color: #faf9fb;
    }

    & td,
    & th {
      text-align: center;
      color: #475467;
      font-family: Montserrat;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }

    & thead th:nth-child(odd) {
      background-color: rgba(176, 169, 255, 0.49);
    }

    & thead th:nth-child(even) {
      background-color: #b5aeff;
    }

    & thead th {
      color: #475467;
      font-family: Montserrat;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 16px;

      &:first-child {
        text-align: left;
        padding-left: 24px;
        font-size: 0.875rem;

        & input {
          margin-right: 12px;
        }
      }
    }

    & tbody th {
      display: flex;
      align-items: center;
      padding: 16px 0 16px 24px;

      & div {
        text-align: left;
        margin-left: 12px;
      }
    }

    & tbody th .name {
      color: #7367f0;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Montserrat;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      margin-bottom: 0;
    }

    & tbody th .email {
      color: #475467;
      font-family: Inter;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 0;
    }
  }

  & .pagination-block {
    border-top: 1px solid #eaecf0;
    padding-top: 12px;

    & .page-link-next {
      margin-left: auto;
    }

    & .page-link-prev {
      margin-right: auto;
      cursor: pointer;
    }

    & .page-link.active {
      border: none;
      background-color: #f9fafb;
    }

    & .page-link {
      color: #475467;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      border: none;
      padding: 12px 14px;
      @include border_radius_8;

      & svg {
        margin: 0 8px;
      }

      &:hover {
        background-color: #f9fafb;
      }

      &:visited {
        color: #475467;
      }
    }
  }
}
// End client table section

// Collection-statistic section
.collection-statistic {
  margin-bottom: 24px;

  & .collection-statistic__item {
    @include crm_data_block;
    max-width: 179px;
    padding: 12px;

    & .collection-statistic__item-title {
      margin-bottom: 24px;
      display: flex;

      & .collection-statistic__item-title-ico {
        width: 24px;
        height: 24px;
        border-radius: 26px;
        border: 0.5px solid #eeeff5;
        background: #fff;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
        text-align: center;
        & svg {
          margin-right: 0 !important;
        }
      }

      & span:first-child {
        color: #6e6b7b;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.154px;
      }

      & span:last-child {
        color: #7c8db5;
        font-family: Poppins;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-left: auto;
        margin-right: 0;

        & svg {
          margin-right: 8px;
        }
      }
    }

    & .collection-statistic__item-metric {
      color: #5e5873;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 36px;
    }

    & .collection-statistic__item-index {
      margin-bottom: 0;
    }

    & .collection-statistic__item-percentdata {
      color: rgba(110, 107, 123, 0.5);
      font-family: Poppins;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 0;
    }
  }
}
// End collection-statistic section

// goals-overview section
.goals-overview {
  margin-bottom: 24px;

  & .goals-overview-item {
    @include crm_data_block;
    max-width: 579px;
    min-width: fit-content;
    box-sizing: content-box;
    margin-right: 0;

    & img {
      min-width: 579px;
    }
  }
}
// End goals-overview section

// Contracts-by-scoring section
.contracts-by-scoring {
  margin-bottom: 48px;

  & .contracts-by-scoring__divider {
    margin-bottom: 26px;
  }

  & .contracts-by-scoring__item_number {
    display: block;
    padding: 4px 10px;
    color: #ffffff;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 32px;
    height: 32px;
    margin-right: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  & .contracts-by-scoring__item-text {
    color: #6e6b7b;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 0;

    & span {
      font-weight: 500;
      margin-left: 7px;
    }
  }

  & .contracts-by-scoring__item_number_0 {
    background-color: #28c76f;
  }

  & .contracts-by-scoring__item_number_1 {
    background-color: #7367f0;
  }

  & .contracts-by-scoring__item_number_2 {
    background-color: #467fff;
  }

  & .contracts-by-scoring__item_number_3 {
    background-color: #ccc7fa;
  }

  & .contracts-by-scoring__item_number_4 {
    background-color: #b7ccf7;
  }
}
// End contracts-by-scoring section

// Statistics-section
.cashflow-section {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;

  & .cashflow-section-chart {
    width: 100%;
    margin-right: 18px;

    & .chart {
      @include crm_data_block;

      & img {
        width: 100%;
        // height: 100%;
        // max-height: 278px;
      }
    }
  }

  & .underwriting-statistic {
    max-width: 580px;
    width: 100%;

    & .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 12px;

      & .underwriting-statistic-item {
        @include crm_data_block;
        padding: 12px 12px;
        max-width: 180px;
        min-height: 152px;
        margin-right: 11.5px;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .heading {
          margin-bottom: 11px;
          align-items: center;

          & .status {
            color: rgba(0, 0, 0, 0.7);
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.154px;
            -webkit-font-feature-settings: 'clig' off, 'liga' off;
            -moz-font-feature-settings: 'clig' off, 'liga' off;
          }
        }
        & .number-parameter {
          color: #5e5873;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 12px;
        }

        & .metrix-summ {
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          margin-bottom: 20px;
        }

        & .metric-percentage {
          color: rgba(110, 107, 123, 0.5);
          font-family: Poppins;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
}
// End statistics-section

// Cashflow chart section
.cashflow-chart-section {
  padding-bottom: 40px;

  & .cashflow-chart-section__chart {
    @include crm_data_block;

    & img {
      width: 100%;
    }
  }
}
// End Cashflow chart section

// Overdue section
.overdue-section {
  margin-bottom: 24px;

  & .overdue-section-chart {
    @include crm_data_block;
    padding: 0;

    & img {
      width: 100%;
      max-width: 721px;
    }
  }

  & .overdue-section-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: end;

    & .overdue-section-item {
      @include crm_data_block;
      padding: 20px 13px 20px 20px;
      max-width: 179px;
      box-sizing: border-box;

      & .number {
        color: #fff;
        text-align: center;
        font-family: Montserrat;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        width: 48px;
        height: 48px;
        padding: 13px;
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 2px;
        border-radius: 26px;
      }

      & .number-bg-purple-grade-1 {
        background-color: #d0cdf2;
      }

      & .number-bg-purple-grade-2 {
        background-color: rgba(115, 103, 240, 0.45);
      }

      & .number-bg-purple-grade-3 {
        background-color: #a199f6;
      }

      & .number-bg-purple-grade-4 {
        background-color: #7367f0;
      }

      & .title {
        color: var(--dark, #5e5873);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 12px;
      }

      & .subtitle {
        color: var(--dark, #5e5873);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Montserrat;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 0;
      }
    }
  }
}
// End overdue section

// Login form
@mixin login_form {
  & .login-form {
    max-width: 484px;
    padding: 0 37px;
    height: 100vh;
    // position: absolute;
    // right: 0;
  }

  & .login-form-logo {
    width: 100%;
    text-align: center;
    color: #7367f0;
    font-family: Montserrat;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 50.4px; /* 120% */
    letter-spacing: 0.14px;

    & svg {
      margin-right: 14px;
    }
  }

  & .login-form-wrapper {
    padding: 16px 32px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
  }

  & .login-form-title {
    color: var(--1-theme-color-heading-display-text, #5e5873);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
  }

  & .login-form-subtitle {
    color: #6e6b7b;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 24px;
  }

  & .login-form-center,
  & .login-form-right {
    background-color: #fff;
    padding-top: 79px;
  }

  & .login-form-right {
    background-image: url('/public/images/pattern-bg-1.svg');
    background-repeat: no-repeat;
    background-position: 150px -100px;
    background-size: auto;

    // &:after {
    //   position: absolute;
    //   content: url('/public/images/pattern-bg-1.svg');
    // }
  }

  & form {
    margin-bottom: 16px;

    & .form-label {
      color: #6e6b7b;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Montserrat;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 8px;
    }

    & .form-control {
      border-radius: 5px;
      border: 1px solid #d8d6de;
      padding: 8px 15px;
      margin-bottom: 24px;

      &::placeholder {
        color: #b9b9c3;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Montserrat;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }

    & .btn {
      padding: 10px 22px;
      border-radius: 5px;
      background: #7367f0;
      color: #fff;
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Montserrat;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.4px;
      border: none;
      width: 100%;

      &:focus {
        background: #5c53c3;
      }
    }
  }

  & .login-form-create-account {
    color: #6e6b7b;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.14px;
    text-align: center;

    & a {
      color: #7367f0;
      font-family: Montserrat;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.14px;
      text-decoration: none;
    }
  }
}
.login {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(90deg, #f8f8f8 0%, #f3f7fd 100%);
  display: flex;

  & .login-big-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('/public/images/square-pattern-1.svg');
    background-repeat: no-repeat;
    background-position: 87px 105%;
    background-size: auto;

    & img {
      max-width: 900px;
    }
  }

  @include login_form;
}

.login-page-2 {
  width: 100%;
  height: 100vh;
  position: relative;
  // background-color: linear-gradient(90deg, #f8f8f8 0%, #f3f7fd 100%);
  display: flex;
  justify-content: center;

  background: 5% 0% / 20% no-repeat url('/public/images/square-pattern-2.svg'),
    5% 90% / 30% no-repeat url('/public/images/female-chair-bg-svg.svg'),
    90% 15% / 30% no-repeat url('/public/images/male-female-chart.svg'),
    linear-gradient(90deg, #f8f8f8 0%, #f3f7fd 100%);

  @include login_form;

  & .login-form {
    min-width: 484px;
    max-width: 484px;
    padding: 120px 37px 0 37px;
    height: 100vh;
    // position: absolute;
    // right: 0;
  }
}

.login-page-3 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;

  background: 95% 90% / 30% no-repeat
      url('/public/images/female-chair-bg-svg.svg'),
    5% 5% / 30% no-repeat url('/public/images/male-female-chart.svg'),
    center / 100% no-repeat url('/public/images/login-3-bg-pattern.svg'),
    linear-gradient(90deg, #f8f8f8 0%, #f3f7fd 100%);

  @include login_form;

  & .login-form {
    // min-width: 484px;
    max-width: 484px;
    padding: 70px 37px 0 37px;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  & .login-form-wrapper {
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    border-radius: 16px;
    border: 1px solid #d8d8d8;
    background: #f3f7fd;
  }

  & .login-form-logo {
    margin-top: -100px;
    margin-bottom: 60px;
  }
}
// End Login Form

// Cashflow chart section
.cpa-section {
  padding-bottom: 40px;

  & .cpa-section__chart {
    margin-top: 30px;
    @include crm_data_block;
  }

  & .highcharts-figure,
  .highcharts-data-table table {
    max-width: 100%;
  }
}
// End Cashflow chart section

// goals-overview section
.payments-responses {
  margin-bottom: 24px;

  & .payments-responses-item {
    @include crm_data_block;
    max-width: 570px;
    min-width: fit-content;
    box-sizing: content-box;
    margin-right: 0;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
// End goals-overview section
