@import 'mixins';
@import 'common_styles';

// Additional styled for main page with links
.screens-links {
  background-color: #2a9d8f;
  height: 100vw;
  padding: 20px 20%;

  & li {
    background-color: #f4a261;

    & a {
      font-size: 15px;
      font-weight: 500;
      text-decoration: none;
    }
  }
}
// End additional styled for main page with links

body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(94, 88, 115, 0.5);
}

a:hover {
  color: #5e5873 !important;
}

.content-screen {
  width: 100%;
  padding: 40px 24px;
  margin-left: 260px;
}

// Leftside menu Navabr
.menu {
  max-width: 260px;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.1);

  &::-webkit-scrollbar {
    width: 0;
  }
}
.main-menu {
  max-width: 260px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 23px 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  & .navbar-brand {
    padding-left: 15px;
  }

  & .nav {
    margin-bottom: 24px;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
  }

  & .menu-subsection {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 15px;
    font-weight: 300;
    padding-left: 30px;
    color: rgba(94, 88, 115, 0.5);
  }

  & .logo-name {
    color: #000000;
  }

  & a {
    color: #5e5873;
  }

  & .menu-block {
    border-bottom: 1px solid rgba(110, 107, 123, 0.3);
    padding: 12px 0;
    width: 100%;

    &:last-child {
      margin: 0 !important;
    }

    & .nav-item {
      width: 100%;
      padding: 12px 15px 12px 15px;

      .badge {
        background-color: #7367f0;
        position: absolute;
        left: calc(100% - 55px);
      }

      & .collapse li {
        padding-top: 24px;
        padding-bottom: 0;

        & a:hover {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          background: linear-gradient(47deg, #7367f0 0%, #9e95f5 93.64%);

          & a,
          & span {
            color: #ffffff;
          }

          &::before {
            border: 1px solid #ffffff;
          }
        }

        & a::before {
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          border: 1px solid #5e5873;
          margin-right: 15px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }
    & .nav-item .nav-link {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 15px !important;
      padding-right: 10px !important;
    }

    & .nav-item.active-item > a {
      background-color: #f8f8f8;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }

  & .dropdown-toggle {
    position: relative;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  & .dropdown-toggle::after {
    content: url('/images/dropdown-ico.svg');
    border: none;
    left: calc(100% - 30px);
    position: absolute;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  & .collapsed::after {
    content: url('/images/dropdown-ico.svg');
    border: none;
    left: calc(100% - 30px);
    position: absolute;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}
// End of Leftside menu Navabr

// Header
header {
  & .welcome-text {
    padding-left: 0;
    padding-right: 0;
  }

  & .welcome-text h1 {
    color: rgba(94, 88, 115, 1);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 0;
  }

  & .notification {
    position: relative;
  }

  & .notification .indicator {
    display: none;
  }

  & .notification.indicate .indicator {
    display: block;
    position: absolute;
    top: 6px;
    right: 4px;
  }

  & .welcome-text p {
    color: #7c8db5;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  & .user-name-role {
    text-align: right;
    margin-right: 14px;
  }

  & .name {
    color: #5e5873;
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  & .role {
    color: #b9b9c3;
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  & .user-photo {
    width: 38px;
    height: 38px;
    position: relative;
  }

  & .user-active-status::before {
    position: absolute;
    top: 10px;
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    border: 1px solid #ffffff;
    background-color: red;
    z-index: 99;
  }
}
// End Header

.data-picker {
  margin-top: 8px;
  margin-bottom: 42px;

  & .btn-outline-primary {
    color: #1d2939;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 16px;
    border: 1px solid #d0d5dd;

    &:hover {
      background-color: #7367f0;
    }
  }

  & .data-selecter {
    max-width: 145px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    color: #667085;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    box-sizing: content-box;

    &:hover {
      background-color: #7367f0;
      color: #1d2939;
    }

    & svg {
      margin-right: 7px;
    }
  }
}

// Statistics-section
.statistics-section {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;

  & .underwriting-statistic {
    max-width: 580px;
    width: 100%;
    margin-right: 12px;

    & .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 12px;

      & .underwriting-statistic-item {
        @include crm_data_block;
        padding: 12px 12px;
        max-width: 180px;
        min-height: 152px;
        margin-right: 11.5px;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .heading {
          margin-bottom: 11px;
          align-items: center;

          & .status {
            color: rgba(0, 0, 0, 0.7);
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.154px;
            -webkit-font-feature-settings: 'clig' off, 'liga' off;
            -moz-font-feature-settings: 'clig' off, 'liga' off;
          }
        }
        & .number-parameter {
          color: #5e5873;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 12px;
        }

        & .metrix-summ {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          margin-bottom: 20px;
        }

        & .metric-percentage {
          color: rgba(110, 107, 123, 0.5);
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }

  & .statistics {
    max-width: 274px;
    width: 100%;
    margin-right: 20px;

    & .statistics-item {
      @include crm_data_block;
      position: relative;
      max-width: 274px;
      min-height: 334px;
      box-sizing: content-box;
      overflow: hidden;

      & .statistics-item-buttons {
        text-align: right;
        margin-bottom: 29px;

        & .btn-outline-primary {
          color: #1d2939;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          padding: 10px 14px;
          border: 1px solid #d0d5dd;

          &:hover {
            background-color: #7367f0;
          }

          &:focus {
            background-color: #f9fafb;
          }
        }
      }

      & .data-wrapper {
        padding: 12px 12.5px;
      }

      & .application-button {
        @include button_basic_style;
        color: #344054;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;

        &:hover {
          background-color: #7367f0;
          color: #1d2939;
        }

        & svg {
          margin-left: 7px;
          margin-right: 0;
        }
      }

      & .number-parameter {
        color: #5e5873;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      & .chart {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  & .appproval-rate {
    max-width: 274px;
    width: 100%;

    & .statistics-item {
      @include crm_data_block;
      position: relative;
      max-width: 274px;
      min-height: 334px;
      box-sizing: content-box;
      overflow: hidden;

      & .application-button {
        @include button_basic_style;
        color: #344054;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        margin-top: -92px;

        &:hover {
          background-color: #7367f0;
          color: #1d2939;
        }

        & svg {
          margin-left: 7px;
          margin-right: 0;
        }
      }

      & .statistics-item-buttons {
        text-align: right;
        margin-bottom: 29px;
        margin-top: -67px;

        & .btn-outline-primary {
          color: #1d2939;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          padding: 10px 14px;
          border: 1px solid #d0d5dd;

          &:hover {
            background-color: #7367f0;
          }

          &:focus {
            background-color: #f9fafb;
          }
        }
      }

      & .data-wrapper {
        padding: 79px 12.5px 0 12.5px;
      }

      & .number-parameter {
        color: #5e5873;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      & .chart {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}
// End statistics-section

// Payments-charts section
.payments-charts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;

  & .payments-total {
    background: #ffffff;
    max-width: 749px;
    width: 100%;
    margin-right: 45px;
  }

  & .last-payments .payments-wrapper {
    @include crm_data_block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    max-height: 440px;
    max-width: 369px;
    padding: 12px 32px 0 12px;
    box-sizing: border-box;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background-color: rgb(255, 255, 255);
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }

    & .payments-item {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #eaecf0;

      & .icon {
        padding: 6px 13px;
        border: 1px solid #f2f4f7;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        margin-right: 12px;
        height: fit-content;
      }

      & .info {
        margin-right: 38px;

        & .heading {
          color: #5e5873;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Montserrat;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }

        & .date {
          color: #5e5873;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
        }
      }

      & .amount {
        color: #039855;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
}
// End payments-charts-section

// Clients table section
.clients-table {
  border-top: 8px solid #6941c6;
  padding-top: 20px;
  display: flex;
  justify-content: center;

  & .clients-list-handler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;

    & .clients-text {
      & .heading {
        color: #101828;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 0;

        & span {
          border-radius: 16px;
          background: #f9f5ff;
          mix-blend-mode: multiply;
          padding: 2px 8px;
          color: #6941c6;
          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          margin-left: 8px;
          -webkit-border-radius: 16px;
          -moz-border-radius: 16px;
          -ms-border-radius: 16px;
          -o-border-radius: 16px;
        }
      }

      & p {
        margin-top: 5px;
        margin-bottom: 0;
        color: #475467;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }

    & .export {
      @include button_basic_style;
      margin-right: 12px;
      & svg {
        margin-right: 8px;
      }
    }

    & .save-list {
      padding: 10px 16px;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 23px;
      border-radius: 8px;
      border: 1px solid #7f56d9;
      background: #7f56d9;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

      & svg {
        margin-right: 8px;
      }
    }
  }

  & .clients-list-search {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;

    & .input-group {
      max-width: 638px;
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

      & button {
        padding: 10px 8px 10px 14px;
        border: none;

        &:hover {
          background: none;
        }
      }

      & input {
        padding: 10px 14px 10px 0;
        border: none;
      }
    }

    & .buttons-wrapper button {
      @include button_basic_style;
      margin-left: 12px;
    }
  }

  & .filter-buttons {
    & button {
      @include button_basic_style;
      margin-right: 5px;

      & svg {
        margin-left: 4px;
        margin-right: 0;
        padding: 0;
      }
    }
  }

  & .table .table-responsive {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 40px;
    @include border_radius_20;

    & .table-bordered {
      border: 1px solid #eaecf0;
    }

    & table > tbody > tr > td:nth-child(even) {
      background-color: #faf9fb;
    }

    & td,
    & th {
      text-align: center;
      color: #475467;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }

    & thead th:nth-child(odd) {
      background-color: rgba(176, 169, 255, 0.49);
    }

    & thead th:nth-child(even) {
      background-color: #b5aeff;
    }

    & thead th {
      color: #475467;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 16px;

      &:first-child {
        text-align: left;
        padding-left: 24px;
        font-size: 14px;

        & input {
          margin-right: 12px;
        }
      }
    }

    & tbody th {
      display: flex;
      align-items: center;
      padding: 16px 0 16px 24px;

      & div {
        text-align: left;
        margin-left: 12px;
      }
    }

    & tbody th .name {
      color: #7367f0;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      margin-bottom: 0;
    }

    & tbody th .email {
      color: #475467;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 0;
    }
  }

  & .pagination-block {
    border-top: 1px solid #eaecf0;
    padding-top: 12px;

    & .page-link-next {
      margin-left: auto;
    }

    & .page-link-prev {
      margin-right: auto;
      cursor: pointer;
    }

    & .page-link.active {
      border: none;
      background-color: #f9fafb;
    }

    & .page-link {
      color: #475467;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      border: none;
      padding: 12px 14px;
      @include border_radius_8;

      & svg {
        margin: 0 8px;
      }

      &:hover {
        background-color: #f9fafb;
      }

      &:visited {
        color: #475467;
      }
    }
  }
}
// End client table section

// Collection-statistic section
.collection-statistic {
  margin-bottom: 24px;

  & .collection-statistic__item {
    @include crm_data_block;
    max-width: 194px;
    padding: 12px;

    & .collection-statistic__item-title {
      margin-bottom: 24px;
      display: flex;

      & .collection-statistic__item-title-ico {
        width: 24px;
        height: 24px;
        border-radius: 26px;
        border: 0.5px solid #eeeff5;
        background: #fff;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
        text-align: center;
        & svg {
          margin-right: 0 !important;
        }
      }

      & span:first-child {
        color: #6e6b7b;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.154px;
      }

      & span:last-child {
        color: #7c8db5;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-left: auto;
        margin-right: 0;

        & svg {
          margin-right: 8px;
        }
      }
    }

    & .collection-statistic__item-metric {
      color: #5e5873;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 36px;
    }

    & .collection-statistic__item-index {
      margin-bottom: 0;
    }

    & .collection-statistic__item-percentdata {
      color: rgba(110, 107, 123, 0.5);
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 0;
    }
  }
}
// End collection-statistic section

// goals-overview section
.goals-overview {
  margin-bottom: 24px;

  & .goals-overview-item {
    @include crm_data_block;
    max-width: 579px;
    min-width: fit-content;
    box-sizing: content-box;
    margin-right: 0;

    & img {
      min-width: 579px;
    }
  }
}
// End goals-overview section

// Contracts-by-scoring section
.contracts-by-scoring {
  margin-bottom: 48px;

  & .contracts-by-scoring__divider {
    margin-bottom: 26px;
  }

  & .contracts-by-scoring__item_number {
    display: block;
    padding: 4px 10px;
    color: #ffffff;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 32px;
    height: 32px;
    margin-right: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  & .contracts-by-scoring__item-text {
    color: #6e6b7b;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 0;

    & span {
      font-weight: 500;
      margin-left: 7px;
    }
  }

  & .contracts-by-scoring__item_number_0 {
    background-color: #28c76f;
  }

  & .contracts-by-scoring__item_number_1 {
    background-color: #7367f0;
  }

  & .contracts-by-scoring__item_number_2 {
    background-color: #467fff;
  }

  & .contracts-by-scoring__item_number_3 {
    background-color: #ccc7fa;
  }

  & .contracts-by-scoring__item_number_4 {
    background-color: #b7ccf7;
  }
}
// End contracts-by-scoring section
